VITE_ICP_HOST=
VITE_II_URL=
VITE_II_DERIVATION_ORIGIN=
VITE_ENABLE_II_DERIVED_WRAPPING=false
VITE_VAULT_BACKEND_CANISTER_ID=
VITE_VAULT_STORAGE_CANISTER_ID=
VITE_VAULT_INBOX_CANISTER_ID=
VITE_VAULT_ANALYTICS_CANISTER_ID=
DEPLOY_ICP_HOST=https://icp-api.io
DEPLOY_FRONTEND_CANISTER_ID=
DEPLOY_IDENTITY_NAME=
